body{    
    background-color: rgb(189, 112, 82);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 50%;
    margin: 0px auto;
    
}

h1{
    padding: 5px 10px;
    color: rgb(255, 255, 255);
}

.list,
a{
    color: rgb(192, 163, 108);
    text-decoration: none; 
    font-weight: bold;
    font-size: large; 
}

.list{
    width: 300px;
    padding: 5px 10px;
    background-color: aliceblue;
}

